.type {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;

  &Item {
    color: var(--main-Label);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    padding: 8px 12px;
    border-radius: var(--Radius-rounded-3xl);
    border: 1px solid var(--main-Line);
    background: var(--main-bg);
    display: flex;
    align-items: center;
    gap: 6px;
    user-select: none;

    .cricle {
      width: 12px;
      height: 12px;
      border-radius: 100%;
      background: var(--main-Line);
    }

    &Active {
      font-weight: 700;
      border-color: var(--Color-base-Purple);
      background: var(--Color-purple-50);
      box-shadow: 0px 8px 16px 0px rgba(134, 93, 255, 0.08);
      color: var(--Color-purple-600);

      .cricle {
        background: var(--Color-purple-500);
      }
    }

    &Clickable {
      cursor: pointer;
    }
  }
}

.types {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--Color-neutral-200);
  background: var(--Color-base-white);
}
