.container {
  width: 100%;
  height: calc(100vh - 96px);
  border-radius: 0 0 12px 12px;
  overflow: hidden;
}

:global {
  .open #page-workflows-container {
    border-bottom-left-radius: 0;
  }

  #page-workflows-container iframe {
    border: none;
    width: 100%;
    height: 100%;
  }
}
