.p-computes-supplier-ai {
	//margin: 29px;
	//border: solid 1px #DEDEEC;
	//border-radius: 16px;

	&__block {
		display: flex;
		flex-direction: row;
		gap: 8px;
		padding: 0px 12px;
		align-items: center;
		justify-content: center;
		border: solid 1px #DEDEEC;
		height: 38px;
		border-radius: 8px;
		font-size: 14px;

		&__left {
			display: flex;
			flex-direction: row;
			gap: 8px;
		}

		&__input {
			position: relative;
			display: flex;
			flex-direction: row;
			align-items: center;
			font-size: 14px;
			background-color: #F3F3F4;
			border-radius: 8px;
		}

		&__float-icon {
			position: absolute;
			left: 10px;
			z-index: 99;
		}

		&.with-action {
			cursor: pointer;
		}
	}

	&__actions {
		.btn-gradient {
			flex-direction: row;
			align-items: center;
			border-radius: 6px;
			font-size: 14px;
			padding: 0px 12px;
			width: 220px;
		}
	}

	.input-text {
		padding-left: 40px;
	}

	&__float-icon {}

	&__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 24px;
	}

	&__select_wrapper {
		width: 100px;
	}

	&__select {

		// width: auto;
		.c-select__content {
			width: 100px;
		}

		.c-select__content.active svg {
			transform: rotate(0deg);
		}
	}

	&__actions {
		display: flex;
		flex-direction: row;
		margin-bottom: auto;
		gap: 16px;

		.auto-provision-switch {
			border-radius: 8px;
			border: 1px solid var(--main-Line, #DEDEEC);
			background: var(--main-selected, #F4F5F9);
			display: flex;
			flex-direction: row;
			align-items: center;
			font-size: 14px;
			gap: 6px;
			padding-left: 8px;
			height: 40px;
		}
	}

	&__left {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
	}

	&__tooltip {
		max-width: 20vw;
		z-index: 999;
	}

	&__list {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 24px;
		margin-bottom: 24px;
    padding: 0 24px;
	}
}

.active-filter,
.inactive-filter {
	width: 8px;
	height: 8px;
	border-radius: 8px;
}

.active-filter {
	background-color: #27be69;
}

.inactive-filter {
	background-color: #fa415a;
}

.computes-list {
	&__multiple-row {
		display: flex;
		flex-direction: column;
		gap: 6px;

		.subtitle {
			font-size: 12px;
			color: #A1A3BB;
		}

		.computes-list__model {
			font-size: 12px;
			padding: 6px;
			text-align: center;
		}

		.compose-row {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			gap: 8px;
		}
	}

	&__model {
		border-radius: 8px;
		background-color: #F4F5F9;
		padding: 10px
	}

	&__status {
		padding: 4px 8px;
		border-radius: 8px;
		font-size: 12px;
		text-wrap: nowrap;

		&.available {
			background-color: #e6faee;
			color: #27be69;
		}

		&.used {
			background-color: #fef3e6;
			color: #f28705;
		}

		&.pause {
			background-color: #feecee;
			color: #f2415a;
		}
	}

	&__type {
		padding: 4px 8px;
		border-radius: 8px;
		font-size: 12px;
		text-wrap: nowrap;

		&.rent {
			background-color: #eeeeff;
			color: #5050ff
		}

		&.own {
			background-color: #ffeef7;
			color: #ff55aa;
		}

		&.leasing {
			background-color: #f3efff;
			color: #865dff;
		}
	}
}


.msg-notification {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.28px;
  text-align: left;
  color: #40405b;
  .notification-item {
    //display: flex;
    font-size: 14px;
  }
  .notification-item + .notification-item {
    margin-top: 8px;
  }
  .notification-item-date {
    font-size: 12px;
    opacity: .5;
    text-align: right;
  }
  .msg-danger {
    color: red; 
    margin: 0;
  }

  .msg-success {
    color: green; 
    margin: 0;
  }
  
  .msg-warning {
    color: #e05e01; 
    margin: 0;
  }

  p {
    margin: 0 0 10px 0; 
    padding-right: 10px;
  }
}
