.env
package-lock.json
yarn.lock
.idea/
node_modules/
__pycache__/
venv/
*venv/
**/venv
.DS_Store
# deploy/eclipse-mosquitto/config/mosquitto.conf
**/data/dataset
.vscode
frontend/bun.lockb
general-editor/package-lock.json
react-image-annotate/package-lock.json
general-editor/package-lock.json
general-editor/package-lock.json
react-image-annotate/package-lock.json
general-editor/.npmrc
workflow.cfg
static_build
