.pDashboard {
  margin-top: 10px;
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 36px;

  &Col {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &Title {
    color: var(--Color-neutral-600);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.16px;
    margin: 0;
  }
}

.dashboard {
  &Item {
    border-radius: 8px;
    border: 1px solid var(--Color-neutral-200);
    background: var(--main-bg);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;

    ol {
      padding-left: 14px;

      li + li {
        margin-top: 8px;
      }
    }

    &Disabled {
      opacity: 0.5;
      cursor: default;
    }

    &:not(&Disabled):hover,
    &:not(&Disabled):active,
    &:not(&Disabled):focus {
      border-color: var(--Color-primary-base);
      background: var(--Color-primary-50);
      box-shadow: 0 2px 4px -2px rgba(17, 12, 34, 0.12);
      color: var(--Color-primary-base);

      .dashboard {
        &Item {

          &Title,
          &Subtitle {
            color: var(--Color-primary-base);
          }

          &CountNumber {
            background: var(--Color-primary-base);
            color: var(--Color-base-white);
          }
        }
      }
    }

    &Content {
      display: flex;
      flex-direction: column;
      gap: 4px;

      h4 {
        margin: 0;
      }
    }

    &Title {
      color: var(--Color-neutral-600);
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;

      strong {
        color: var(--Color-primary-base);
      }
    }

    &Subtitle {
      color: var(--Color-neutral-600);
      font-size: 12px;
      line-height: 1.45em;
      font-weight: 400;
      margin-top: 8px !important;
    }

    &CountNumber {
      display: flex;
      width: 27px;
      height: 28px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      background: var(--Color-neutral-100);
      color: var(--Color-neutral-600);
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.moreLess {
  color: rgba(0, 0, 0, .3);
  cursor: pointer;

  &:hover {
    color: var(--Color-neutral-600);
    text-decoration: underline;
  }
}

@media screen and (max-width: 1200px) {
  .pDashboard {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 992px) {
  .pDashboard {
    grid-template-columns: 1fr;
  }
}
