.label.create-label
  background-color #5050FF
  color white
  font-size 12px
  font-weight 700
  padding-left 30px
  padding-right 16px
  text-align center

  svg
    position absolute
    left -28px
    top 2px
    width 18px
    height 18px