.c-custom-export-format {
  .data-type {
    border: solid 1px rgba(0,0,0,.1);
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 4px 8px;
    user-select: none;

    &:hover {
      background-color: rgba(0,0,0,.1);
    }
  }

  .data-group {
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 8px;
  }

  .custom-export-button {
    margin-top: 16px;
    text-align: right;
  }
}
