.c-admin-sidebar {
  //height:100vh;
  //max-height: calc(100vh - 48px);
  overflow-y: auto;
  box-sizing: border-box;
  flex-shrink: 0;
  //height: calc(100vh - 70px);
  background-color: #fff;
  // border-left:1px solid rgba(0,0,0,0.1);
  border-right:1px solid rgba(0,0,0,0.1);
  //padding: 10px 15px 10px 15px;
  width: 256px;
  padding: 16px;

  &__logo img {
    width: 100%;
  }

  &__menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center  ;
  }

  &__submenu-item {
    width: auto;
    padding: 4px 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    margin: 5px 0px 0px -35px;
    color: #4e4b66;
    cursor: pointer;
    font-size: 12px;
    background-color: white;
    transition: background-color, color, border-color 250ms linear;

    &:not(.active) {
      font-weight: 400;
    }

    &:hover {
      //background-color: #E7E9FF;
      color: #2A46FF;
      border: 1px solid #2A46FF;
    }
  }

  &__submenu {
    list-style-type: none;
    margin-left: -12px;
    margin-right: -8px;
  }

  &__menu-item {
    padding: 8px 16px;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 8px 0 16px 0;
    border-radius: 7px;
    line-height: 34px;
    color: #4e4b66;
    font-weight: 500;
    cursor: pointer;
    transition: background-color, color, border-color 250ms linear;

    &:hover {
      background-color: #E7E9FF;
      color: #2A46FF;
      border: 0.5px solid #2A46FF;
      box-shadow: 0px 8px 16px 0px rgba(17, 17, 17, 0.04);
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .active {
    color: #2A46FF;
    background-color: #E7E9FF;
    border: 0.5px solid #2A46FF;
    box-shadow: 0px 8px 16px 0px rgba(17, 17, 17, 0.04);
    font-weight: bold;
  }
}
