.c-sidebar {
  padding: 0 16px 0 16px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #6e7191;
    border-radius: 8px;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &__top {
    padding-top: 16px;
  }

  &__bottom {
    margin-bottom: 23px;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item {
    list-style: none;
    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      cursor: pointer;
      padding: 14px 8px;
      &.active {
        //margin-bottom: 16px;
        > svg {
          transform: rotate(-90deg);
        }
      }
    }

    span {
      display: inline-flex;
    }

    &.child {
      display: flex;
      align-items: center;
      cursor: pointer;

      &.active {
        p {
          color: #5050ff;
        }
      }

      &:first-child {
        margin-top: 16px;
      }

      p {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        color: #40405b;
      }

      & + .child {
        margin-top: -10px;
      }
    }

    &.logout {
      justify-content: flex-start;
    }

    &-title {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 14px;
      color: #454550;
      font-weight: 500;

      span {
        align-items: center;
        display: inline-flex;
      }
    }

    &.child.active {
      .c-sidebar__item-content {
        background: #fff;
        color: #333350;
        width: -webkit-fill-available;
        &.active {
          border-radius: 8px;
          background: #eef;
          color: #5050ff;
        }
      }
    }

    &:not(.child) {
      &.active {
        .c-sidebar {
          &__item-content {
            border-radius: 8px;
            background: #eef;
            color: #5050ff;
          }
  
          &__item-title {
            color: #5050ff;
          }
        }
      }
    }

    &.logout {
      padding-top: 24px;
      border-top: 1px dashed #dedeec;
      .c-sidebar__item-content {
        justify-content: flex-start;
      }
    }
  }

  hr {
    margin: 17px;
    border: none;
  }
}

.c-modal {
  &__confirm-switch-org {
    max-width: 550px;
    .c-modal__footer,
    .c-modal__body {
      margin: 0;
    }
  }
}

.c-sidebar.expand {
  align-items: center;

  .c-sidebar {
    &__top {
      position: fixed;
      top: auto;
      padding: 18px;
      left: 0;
      bottom: 50%;
      transform: translate(0, 50%);
      border-radius: 0 12px 12px 0;
      border: 1px solid #dedeec;
      background: #fff;
      box-shadow: 0px 8px 16px 0px rgba(37, 37, 37, 0.1);
    }

    &__item {
      span {
        display: none;
      }

      &.active {
        color: #5050ff;
        background: transparent;
      }
      &.logout {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__list {
      &-item {
        &.active {
          padding: 0;
          color: #ff71e8;
          background: transparent;
        }
      }
    }
  }
}
