.p-dataset-on-git {
  &.wrapper {
    > div {
      padding-top: 97px;
    }
  }
  &.form {
    border-radius: 12px;
    max-width: 309px;
    margin: auto;
    background: #fff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    form {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &--import {
      position: relative;
      border-radius: 8px;
      background: #5050FF;
      max-width: 106px;
    }
  }

  &__heading {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #40405B;
  }

  .text-error {
    margin: 0;
    color: #c30052;
    font-size: 13px;
    font-weight: 400;
    min-height: 16px;
    text-transform: capitalize;
    line-height: 18px;
    padding: 0;
  }

  .c-input-base__label span {
    font-size: 12px;
    line-height: 16px;
    color: #40405B;
    font-weight: 600;
  }
}
