#editor-designer-properties {
  box-sizing: border-box;
  position: fixed;
  background-color: #fff;
  right: 13px;
  bottom: 13px;
  top: 83px;
  overflow-y: auto;
  border-bottom-right-radius: 10px;
  width: 250px;
  border-left: solid 1px rgba(0,0,0,.1);
  padding: 16px;
}
