.timeline
  user-select none
  background-color var(--main-bg-color)
  border solid 1px #f0f0f0
  border-radius 8px

  &__topbar
    min-height 48px
    padding 6px
    display grid
    grid-row-gap 8px
    align-items center
    grid-auto-rows min-content
    grid-template-rows 1fr
    background-color #f0f0f0
    border-radius 8px 8px 0 0

  &__view
    border-radius 0 0 8px 8px

.audio
  min-width 425px