<View>
    <View className="lsf-sticky" style="position:-webkit-sticky; position:sticky; top:80px; background-color:#111; z-index:1; padding-bottom:16px; box-shadow:0 10px 10px rgba(17,17,17,0.5);">
        <Labels name="labels" toName="audio">
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
            <Label value="Speech"/>
            <Label value="Noise"/>
        </Labels>

        <AudioPlus name="audio" value="$audio" />
    </View>

    <View style="margin-top: 1em;">
        <Transcription name="transcription" toName="audio"/>
    </View>

    <View style="display:none" class="example">
[
    {
        "data": {
            "audio": "/static/audio/sample-15s.mp3"
        }
    }
]
    </View>
</View>