.p-infrstructure-compute-listings {
  border: 1px solid #DEDEEC;
  border-radius: 16px;
  transition: linear background, box-shadow 250ms;

  &__inner {
    border-radius: 16px;
    background-color: #F4F5F9;
    font-size: 12px;
    padding: 24px;
    transition: linear background 250ms;
  }

  &:hover {
    background-image: linear-gradient(to right, #5555FF, #F3A2CF);
    border: none;
    box-shadow: 0 12px 24px 0 rgba(37, 37, 37, 0.10);
    padding: 3px;
  }

  &:hover &__inner {
    background-color: white;
    border-radius: 13px;
    padding: 22px;
  }

  .badges {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
    flex-wrap: wrap;
  }

  .badge {
    border-radius: 67px;
    //border-bottom: 1px solid #DEDEEC;
    border-right: 1px solid #DEDEEC;
    //background: #FFF;
    //box-shadow: 0 1px 2px -1px rgba(17, 12, 34, 0.08);
    font-size: 12px;
    padding: 8px 12px;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.clickable {
      cursor: pointer;
    }

    &--green {
      color: #27BE69;
    }

    &--purple {
      color: #9E7DFF;
    }

    &--black {
      color: #40405B;
    }

    &--semi-blue {
      color: #5050FF;
    }
  }

  .columns {
    display: grid;
    grid-template-columns: 1.5fr repeat(2, minmax(0, 200px)) 140px;
    gap: 24px;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &.align-end {
      align-items: flex-end;
    }

    &--gpu {
      margin-right: 32px;

      .split {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
      }

      .tflops strong {
        color: #5050FF;
        font-size: 20px;
        font-weight: 700;
      }

      .gpu-ram,
      .gpu-bw {
        color: #5050FF;
        font-weight: 700;
      }

      .cuda,
      .gpu-bw {
        margin-top: 4px;
      }
    }

    &--cpu {

      .motherboard,
      .cpu {
        font-weight: 700;
      }

      .cpu {
        margin-top: 16px
      }

      .pcie,
      .cpu-ram {
        margin-top: 8px;
      }
    }

    &--network {

      .upload,
      .download,
      .duration,
      .reliability {
        margin-top: 0;
        margin-bottom: 12px;

        svg {
          transform: translateY(2px);
        }
      }
    }

    &--action {
      .action {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        gap: 16px;
        margin-bottom: 16px;
        width: 140px;
        flex-wrap: wrap;
      }

      .btn {
        border: 1px solid #DEDEEC;
        width: 40px;
        height: 40px;
        padding: 0;
        border-radius: 8px;
        background: #fff;
        flex: 1 1 auto;
      }

      .status {
        flex: 1;
        width: 100%;

        p {
          border: 1px solid #5050FF;
          border-radius: 8px;
          min-width: 72px;
          height: 40px;
          font-size: 14px;
          font-weight: 600;
          margin: 0;
          text-align: center;
          line-height: 40px;
          padding: 0 12.5px;

          &.Paused {
            border: 1px solid #F78C9C;
            color: #E5102E;
            background: #FEECEE;
          }

          &.being-rented {
            background: linear-gradient(90deg, #5555FF 1.38%, #F3A2CF 100%);
            color: #fff;
            border: none;
            font-weight: 400;
          }

          &.Available {
            background: #EEEEFF;
            color: #5050FF;
          }

        }
      }
    }
  }

  .c-select__placeholder {
    color: #5050FF;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
  }
}

.c-navbar__icon.danger {
  &.btn-add-new-compute {
    background: linear-gradient(90deg, #5555FF 1.38%, #F3A2CF 100%);
    border: none;
    flex-direction: inherit;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
  }
}

@media screen and (max-width: 1080px) {
  .p-computes-list-v2-compute {
    .columns {
      grid-template-columns: 1fr 1fr;
    }

    .column {
      &--gpu {
        margin-right: 0;
      }
    }
  }
}
