.page {
  padding: 32px 16px;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #14142A;
}

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  gap: 8px;
  background: #F4F5F9;
  border-radius: 12px;

  &Wrapper {
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }
}

.tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  gap: 6px;
  border-radius: 8px;
  color: #A1A3BB;
  cursor: pointer;
  user-select: none;
  font-size: 14px;

  &Active {
    background: #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #14142A;
  }
}

.content {
  margin-top: 32px;
}

.cycles {
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;

  &Off {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 4px;
    border-radius: 38px;
    border: solid 1px #6D41F0;
    color: #6D41F0;
    font-size: 14px;
  }

  &Item {
    cursor: pointer;
    user-select: none;
  }

  &Active {
    font-weight: 700;
  }

  :global {
    .c-switch.small {
      height: 30px;
      width: 48px;
    }

    .slider {
      background-color: white !important;
      border: solid 1px #DEDEEC;
    }

    .c-switch.small .slider::before {
      top: 2px;
      width: 24px;
      height: 24px;
      background: linear-gradient(91.61deg, #AA8EFC 9.94%, #6D41F0 95.57%);
    }

    .c-switch.small input:checked + .slider:before {
      transform: translateX(17px);
    }

    .c-switch__content {
      display: none;
    }
  }
}

.plans {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  width: 100%;
  max-width: 1460px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;

  &Bottom {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 16px;
    font-size: 14px;
    color: #14142A;
    gap: 8px;
  }
}

.plan {
  box-sizing: border-box;
  padding: 24px;
  background: #FFFFFF;
  border: 1px solid #DEDEEC;
  box-shadow: 0 6px 16px -6px rgba(17, 0, 75, 0.06);
  border-radius: 12px;

  &:hover {
    border-color: #AA8EFC;
  }

  &PriceBlock {
    position: relative;
  }

  &Popular {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    gap: 4px;
    width: 122px;
    height: 28px;
    background: #F3EFFF;
    box-shadow: 0 1px 2px -1px rgba(17, 12, 34, 0.08);
    border-radius: 8px;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 500;
    font-size: 10px;
    color: #7A55E8;
    border: solid 1px #AA8EFC;
  }

  &Name {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }

  &Price {
    font-weight: 600;
    font-size: 32px;
    color: #111728;
    margin-top: 16px;

    small {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #4A5567;
      display: inline-block;
      margin-left: 8px;
    }
  }

  &Desc {
    font-size: 14px;
    line-height: 17px;
    color: #4A5567;
    margin-top: 8px;
    min-height: 54px;
  }

  &Cta {
    margin-top: 24px;
  }

  &BenefitsSeparator {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.featureList {

}

.feature {
  border-bottom: solid 1px #DEDEEC;
  color: #4A5567;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  font-size: 14px;
  line-height: 24px;

  &:last-child {
    border-bottom: none;
  }

  &ComingSoon {
    color: #687489;
  }

  &Unlimited {
    color: #1F9854;
  }

  &HighestReward {
    color: #1F9854;
  }

  &Eligible {
    color: #1F9854;
  }
}

.computeContainer {
  box-sizing: border-box;
  padding: 16px;
  gap: 12px;
  max-width: 886px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #DEDEEC;
  box-shadow: 0 6px 16px rgba(17, 0, 75, 0.06);
  border-radius: 8px;
  display: flex;
  margin-left: auto;
  margin-right: auto;

  svg {
    height: 40px;
    width: auto;
  }
}

.computeText {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;

  svg {
    height: 24px;
  }
}

.modelPlans {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}

.crowdsourcingPlans {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  width: 100%;
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}
