.llm-datepicker-view {
	display: flex;
	flex-direction: column;
	min-height: 50px;
	gap: 6px;

	&__label__content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&__label {
		font-size: 14px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.71;
		letter-spacing: normal;
		color: #40405b;

		>span {
			color: #f2415a;
			margin-left: 4px;
		}
	}

	&__info {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	&__option {
		position: relative;
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	&__input {
		height: 38px;
		flex-grow: 0;
		border-radius: 6px;
		border: solid 1px #dedeec;
		font-size: 14px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.71;
		letter-spacing: normal;
		color: #14142a;
		padding-left: 12px;
		width: 100%;
		box-sizing: border-box;
	}

	&__icon {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 38px;
		right: 10px;
		pointer-events: none;
	}

	.react-datepicker {

		&-wrapper,
		&__input-container {
			width: 100%;
		}
	}
}