.llm-switch {
	display: flex;
	flex-direction: column;
	gap: 4px;

	&__item {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		gap: 6px;

		&__switch {
			>input {
				visibility: hidden;
				float: left!important;

				&:checked~label {
					background: #5050FF;
				}

				&:checked~label:after {
					left: 20px;
					background: #FFF;
				}

				&:disabled~label {
					background: #BFBFC8;
					pointer-events: none;
				}

				&:disabled~label:after {
					background: #FFF;
				}
			}

			>label {
				position: relative;
				display: block;
				height: 24px;
				width: 42px;
				background: #BFBFC8;
				border-radius: 100px;
				cursor: pointer;
				transition: all 0.3s ease;

				&:after {
					position: absolute;
					left: 2px;
					top: 2px;
					display: block;
					width: 20px;
					height: 20px;
					border-radius: 20px;
					background: #fafafa;
					box-shadow: 0 2px 8px rgba(0, 0, 0, .28);
					content: '';
					transition: all 0.3s ease;
				}

				&:active:after {
					transform: scale(1.15, 0.85);
				}
			}
		}

		&__label {
			margin-left: 8px;
			font-size: 14px;
		}
	}
}