.block-audio {
  background-color: #fff;
  border: dashed 2px rgba(0,0,0,.1);
  border-radius: 8px;
  margin-top: 1rem;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.audio-preview {
  background: url("./audioPreview.png") no-repeat;
  width: 100%;
  height: 101px;
  margin-bottom: 10px;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.slide-wrapper {
  display: flex;
  align-items: center;
  width: 100%;

  .ant-slider,
  .ant-btn-primary {
    cursor: default;
  }

  .zoom-in {
    margin-top: 8px;
  }

  .slide {
    width: 100%;
  }

  .zoom-in,
  .zoom-out {
    svg {
      color: #1890ff;
    }
  }

  .text {
    span {
      font-size: 14px;
      color: #1890ff;
    }
  }

  .radio-icon {
    svg {
      color: #111;
      width: 14px;
      height: 13px;
    }
  }

  .zoom-out {
    margin-top: 8px;
  }

  .ant-slider-track {
    background-color: #2a46ff;
    width: 76%;
  }

  .ant-slider-handle {
    width: 10px;
    height: 10px;
    border-color:#2a46ff;
  }
}

.audio-select {
  min-width: 162px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30px;
  &-search-text {
    font-size: 14px;
    color: #000000d9;
  }

  &-arrow {
    width: 12px;
    height: 14px;
    color: #d9d8dc;
  }
}

.audio-play-actions {
  display: flex; 
  justify-content: space-between; 
  margin-top: 0.5em;

  button {
    cursor: default;
    pointer-events: none;
    &:hover {
      background: #1890ff;
      border-color: #1890ff;
    }
  }

  .lsf-field-label__content {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    flex-direction: column;
    align-items: flex-start; 
  }
  .audio-play-actions {
    gap: 20px;
    margin-top: 20px;
    .actions {
      label {
        &:first-child {
          margin-bottom: 10px;
        }
      }
    }
  }
}
