// Breadcrumbs

.c-navbar {
  &__actions {
    display: flex;
    align-items: center;
    gap: 24px;

    &-items {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      gap: 15px;
    }

    &-item {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 34px;
      letter-spacing: 0.75px;
      list-style: none;
      cursor: pointer;
      position: relative;
    }

    .cart-block {
      display: flex;
      padding: 10px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 8px;
      background: var(--btn, linear-gradient(90deg, #55F 1.38%, #F3A2CF 100%));
      box-shadow: 0px 2px 4px -2px rgba(17, 12, 34, 0.12);
      cursor: pointer;
      p {
        margin: 0;
      }

      &--title, &--quality {
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
      }
    }
  }

  &__icon {
    flex-direction: row-reverse;
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
    min-width: auto;
    border-width: 1px;
    color: #fff;

    &.default {
      color: #14142a;
      border-color: #dedeec;
    }

    &.danger {
      border-color: #F2415A;
      background: #F2415A;
    }

    &.success {
      border-color: #27BE69;
      background: #27BE69;
    }

    &.warning {
      border-color: #FFBF0F;
      background: #FFBF0F;
    }
		&.primary{
			background-color: #5050FF;
			border-color:  #5050FF;
		}
		&.link{
			background-color: transparent;
			border-color:   transparent;
			color: #14142A;
            box-shadow: none;
		}
		&.outline{
			background-color: #fff;
			border-color: #5050FF;
			color: #5050FF;
		}
		&.dark {
			background-color: #6F728F;
			border-color: #DEDEEC;
			color: white;
		}
    &.primary2 {
      border: solid 1px #5050FF;
      background: #EEEEFF;
      color: #5050FF;
    }
  }
}
