:root {
  --main-Label: #40405B;
  --main-Line: #DEDEEC;
  --main-bg: #FFF;
  --main-bg1: #F4F5F9;
  --Grayscale-Body: #4E4B66;
  --main-Title: #14142A;
  --main-sub-Title: #333350;

  --Color-base-white: #fff;
  --Color-neutral-200: #E9E9F2;
  --Color-base-Purple: #865DFF;
  --Color-purple-600: #7A55E8;
  --Color-neutral-500: #A3A3BA;
  --Color-neutral-600: #454550;
  --Color-neutral-300: #DEDEEC;
  --Color-neutral-100: #F0F0F6;
  --Color-primary-base: #5050FF;
  --Color-primary-50: #EEF;
  --Color-primary-200: #AFAFFF;
  --Color-neutral-50: #F8F8FD;
  --Color-positive-base: #27BE69;
  --Color-blue-50: #EBF0FF;
  --Color-secondary-600: #E84D9B;
  --Color-base-Highlight: #F5A;
  --Color-secondary-50: #FFEEF7;
  --Color-purple-50: #F3EFFF;
  --Color-base-Body: #454550;
  --Color-purple-500: #865DFF;
  --Color-negative-base: #F2415A;
  --Color-neutral-700: #6F728F;
  --Color-positive-50: #E6FAEE;
  --Color-warning-base: #FFBF0F;
  --Color-warning-50: #FFF8E5;
  --Color-blue-base: #386AFF;
  --Color-base-Warning: #DC7B05;
  --Color-base-Error: #E5102E;
  --Color-base-Success: #1F9854;
  --Color-base-Highlight: #F5A;
  --Color-neutral-700: #40405B;
  --Color-neutral-900: #1A1A3A;
  --Color-base-black: #000024;

  // Heading

  --Color-base-Heading: #060607;

  // Radius
  --Radius-rounded-3xl: 24px;
  --Radius-rounded-xl: 12px;
  --Radius-rounded-lg: 8px;
}
