.container {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.flow {
  :global {
    .c-select__item {
      max-height: none;
      padding: 0;

      & + * {
        margin-top: 16px;
      }
    }
  }
}

.flowItem {
  max-height: none;
  padding: 0;

  &Name {
    font-size: 14px;
  }

  &Desc {
    font-size: 12px;
    opacity: .5;
    margin-top: 6px;
    font-weight: 400 !important;
  }
}
