.c-preference-modal {
  .c-modal__content {
    gap: 16px;
  }

  .c-modal__body {
    padding-top: 24px;
    border-top: solid 1px #dedeec;

    .c-radio__label {
      font-size: 14px;
      font-weight: 500;
    }
  }

  .c-select {
    margin-top: 24px;
  }

  .c-select__label {
    font-size: 12px;
  }

  .c-input-base__right {
    width: auto;
  }

  &__range-label {
    >span {
      font-style: italic;
    }
  }

  &__range-row {
    display: flex;
    flex-direction: row;
    gap: 24px;

    &--error {
      input {
        border-color: #ed2e7e;
        background-color: #fff2f7;
      }
    }
  }

  &__range-error {
    display: flex;
    flex-direction: column;
    gap: 8px;

    span {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.75px;
      text-transform: capitalize;
      margin: 8px 0 0;
      color: #c30052;
    }
  }
}