.container {
  //display: flex;
  //flex-direction: column;
  //align-items: center;
}

.title {
  font-size: 16px;
  margin-bottom: 16px;
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;
}

.item {
  //background-color: rgba(255, 255, 255, .9);
  padding: 6px 12px;
  border-radius: 6px;
  text-align: left;
  font-size: 14px;
  line-height: 1.4em;
  position: relative;
  z-index: 2;


  svg {
    margin-right: 8px;
    transform: translateY(5px);
  }
}
