<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Balance Reminder</title>
</head> -->
<body>
    <p>Dear [user],</p>

    <p>Your current account balance is now at 25%. To avoid any disruption in services, please top up your account soon. Without a top-up, all services will be suspended.</p>

    <p><a href="[Insert Link to Payment Page]">Top-up now</a></p>

    <p>Thank you for taking prompt action!</p>

    <p>From AIxBlock team with love</p>
</body>
</html>
