<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIxBlock. Notification: Account Balance Depleted</title>
</head> -->
<body>
    <p>Dear [user],</p>

    <p>Your account balance is now at 0. All services including model training and compute rentals have been stopped, and any rented computes have been returned to the GPU marketplace.</p>

    <p>Please recharge your account to resume services.</p>

    <p><a href="[Insert Link to Payment Page]">Recharge now</a></p>

    <p>From AIxBlock team with love</p>
</body>
</html>
