<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIxBlock| Action Required: Back Up Your Data Before Compute Rental Expires</title>
</head>

<body>
    <p>Hi,</p>
    <p>Just a heads up—your rented computes ID xxx are about to expire soon. Please make sure to back up any data you have on them before they expire to keep your information safe.</p>
    <p>Thanks,</p>
    <p>From AIxBlock team with love</p>
</body>
</html>