<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unused Computes Notice</title>
</head> -->
<body>
    <p>Hi [user],</p>

    <p>Thanks for signing up for AIxBlock!</p>

    <p>To complete your registration, please click on the following link to verify your email address:</p>

    <a href="[link]">[link]</a>

    <p>This link will expire in 3 days.</p>

    <p>We look forward to having you as a member of our community!</p>

    <p>Best Regards,</p>
    <p>The AIxBlock Team</p>
</body>
</html>
