<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>AIxBlock | Confirmation of Compute Rental and Your Storage Access</title>
</head>
<body>
    <p>Dear [user],</p>
    <p>You have successfully rented Compute ID xxx. Here is the credentials for your secure storage where you will find your dataset, checkpoints of your models. Your storage space is secure and fully private.</p>
    <ul>
        <li>Email: [email]</li>
        <li>Password: [pass]</li>
    </ul>
    <p>Min.IO (a self-host S3 compatible object store for AI training)</p>
    <ul>
        <li>Endpoint: [endpoint_minio]</li>
        <li>User: [user_minio]</li>
        <li>Password: [pass_minio]</li>
    </ul>
    <p>Should you need any further information or assistance, please don't hesitate to reach out to our support team.</p>
    <p>Thank you for using AIxBlock!</p>
    <p>Best regards,</p>
    <p>The AIxBlock Team</p>
</body>
</html>
