<!DOCTYPE html>
<html>
<head>
    <title>AIxBlock | Successful Model Installation</title>
</head>
<body>
    <p>Dear [user],</p>
    <p>Greetings!</p>
    <p>We are pleased to confirm that your recent model has been successfully installed on your chosen machines.</p>
    <p>For detailed information, please come back to your project on our platform here: [link]</p>
    <p>Please don't hesitate to contact our support team if you need help.</p>
    <p>Best regards,</p>
    <p>The AIxBlock Team</p>
</body>
</html>