<!DOCTYPE html>
<html>
<head>
    <title>AIxBlock | Confirmation of Compute Rental</title>
</head>
<body>
    <p>Dear [user],</p>

    <p>We regret to inform you that your recent compute purchase order has been canceled due to an issue with the compute ID <strong>xxx</strong>, which caused the installation to fail. Rest assured, your refund has already been processed.</p>

    <p>We apologize for any inconvenience this may have caused.</p>

    <p>Thank you for your understanding.</p>
</body>
</html>