<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unused Computes Notice</title>
</head> -->
<body>
    <p>Hi [user],</p>

    <p>Welcome to AIxBlock! We're excited to have you on board. Your registration was successful, and your new account is all set up and ready to go.</p>

    <p>If you have any questions or need assistance as you start exploring our services, please don't hesitate to reach out to our support team.</p>

    <p>Thank you for choosing AIxBlock. We look forward to supporting your journey with AI and blockchain technologies.</p>

    <p>If you do not recognize this registration, please inform us so we can remove your data from our dashboard.</p>
    
    <p>Best Regards,</p>
    <p>The AIxBlock Team</p>
</body>
</html>
