<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unused Computes Notice</title>
</head> -->
<body>
    <p>Hi,</p>

    <p>We've noticed that not all computes allocated to your project "xxx" are being used. With the auto-provision function active, we'll soon remove these unused computes to optimize resources for other models or return them to the marketplace if rented, to help save you costs.</p>

    <p>Please contact us if you have any concerns.</p>

    <p>Best,<br>From AIxBlock team with love</p>
</body>
</html>
