<!DOCTYPE html>
<html>
<head>
    <title>AIxBlock | Confirmation of Compute Rental</title>
</head>
<body>
    <p>Dear [user],</p>
    <p>We are pleased to inform you that you have successfully rented Compute ID xxx.</p>
    <!-- <p>There are the endpoint and ports of your compute:</p>
    <ul>
        <li>Endpoint api: [endpoint]</li>
        <li>Dashboard port: [tensorboard]</li>
        <li>Endpoint for ddp training: [ddp]</li>
    </ul> -->
    <p>Should you need any further information or assistance, please don't hesitate to reach out to our support team.</p>
    <p>Thank you for using AIxBlock!</p>
    <p>Best regards,</p>
    <p>The AIxBlock Team</p>
</body>
</html>