<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIxBlock Access Credentials</title>
</head>
<body>
    <p>Subject: AIxBlock | Your Access Credentials to Your Private Platform</p>

    <p>Hi there,</p>

    <p>Congratulations on successfully self-hosting the AIxBlock platform on your own infrastructure!</p>

    <p>Here are your access details:</p>

    <ul>
        <li>IP Port: [domain] (You can redirect this to any of your domains. Remember to purchase an SSL certificate to ensure your website's security.)</li>
        <li>Username: [email]</li>
        <li>Password: [pass] (Please change this after your first login.)</li>
    </ul>

    <p>Here are your storage details:</p>
    <ul>
        <li>Endpoint: [endpoint_minio]</li>
        <li>Endpoint API: [endpoint_minio_api]</li>
        <li>User: [user_minio]</li>
        <li>Password: [pass_minio]</li>
    </ul>

    <p>From now on, you can work on your own platform, on your independent infrastructure. Next, please add storage to your account to store your data and models. Go to the setup infrastructure section to add it. If you want to train and deploy models, you will also need to add GPUs/CPUs to your account, either your own or by using the decentralized computing marketplace.</p>

    <p>If you have any questions or need further assistance, feel free to reach out.</p>

    <p>Best regards,</p>
    
    <p>The AIxBlock Team</p>
</body>
</html>
