<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Your AIxBlock Storage Credentials</title>
</head>
<body>
    <p>Dear [user],</p>
    <p>Thank you so much for choosing us to build your AI models. Here are the credentials for your secure storage on AIxBlock where you will find your dataset and checkpoints of your models. Your storage space is secure and fully private.</p>
    <p><strong>Storage Options:</strong></p>
    <ol>
        <li><strong>For users renting compute for storage:</strong>
            <ul>
                <!-- <li>For users renting compute for storage:</li> -->
                <li>Endpoint: [endpoint_minio]</li>
                <li>Endpoint API: [endpoint_minio_api]</li>
                <li>User: [user_minio]</li>
                <li>Password: [pass_minio]</li>
            </ul>
        </li>
        <!-- <li><strong>User-provided S3</strong>
            <ul>
                <li>If you added your own S3 storage during setup, use your own credentials.</li>
            </ul>
        </li> -->
    </ol>
    <p>Thank you for choosing AIxBlock! Should you have any questions, don't hesitate to ask us via our Discord or email <a href="mailto:contact@aixblock.io">contact@aixblock.io</a>.</p>
    <p>Best regards,</p>
    <p>AIxBlock Team</p>
</body>
</html>
