// Rent Item

.c-ml {
  &__add-form {
    display: flex;
    flex-direction: column;
    gap: 22px;

    &-field-textarea {
      .c-input-base__control {
        textarea {
          min-height: 141px;
        }
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &-content {
      display: flex;
      align-items: flex-start;
      gap: 16px;

      &.bottom {
        flex-direction: column;
        gap: 6px;
      }

      &-left,
      &-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      .c-upload {
        width: auto;
        height: 141px;
        padding: 0;
      }

      .c-control {
        input {
          height: 40px;
        }
        textarea {
          height: 141px;
        }
      }

      &-item.g-4 {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .c-label {
          >span {
            font-size: 12px;
            line-height: 16px;
            font-weight: 500;
            color: #40405B;
          }
        }
      }
    }

    &__split {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 24px;

      .c-label {
        display: block;
        margin-bottom: 22px;
      }
    }

    &__action {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 24px;

      &--cancel,
      &--add {
        box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
        font-weight: 600;
        line-height: 24px;
        font-size: 14px;
        border-radius: 8px;
      }

      &--cancel {
        border: 1px solid #DEDEEC;
        color: #14142A;
      }

      &--add {
        background: #5050FF;
        color: #fff;
      }
    }

    .c-select {
      display: flex;
      flex-direction: row;
      gap: 6px;
      width: 100%;

      &__label {
        font-size: 14px;
      }
    }
  }

  &__select-model {
    .c-select__content {
      width: 100%;
    }

    &--select-item {
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding: 8px 0px;

      span {
        font-size: 10px;

        &:first-child {
          font-size: 12px;
        }
      }
    }
  }
}